TELEGRAM_BOT_TOKEN=
DISCORD_BOT_TOKEN=
DISCORD_TEST_GUILD_ID=
TELEGRAM_ADMIN_IDS=
DISCORD_ADMIN_ROLE_ID=
ANYTHINGLLM_BASE_URL=http://localhost:3001
ANYTHINGLLM_API_KEY=
ANYTHINGLLM_WORKSPACE_SLUG=tari
BLOCKCHAIN_TARGET_CHAT_IDS=
TARI_EXPLORER_URL=https://textexplore.tari.com/?json
BLOCK_HEIGHT_CRON=0 */4 * * *
HASH_POWER_CRON=0 */12 * * *
CUSTOMER_ANALYSIS_CRON=0 */3 * * *
CUSTOMER_SERVICE_GROUP_ID=
ANALYSIS_CHANNELS=tariproject
ANALYSIS_HOURS=3
ANALYSIS_MODEL=gpt-4o
ANALYSIS_TEMPERATURE=0.3
